#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cssmenu:after, #cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#cssmenu #menu-button {
	display: none;
}
#cssmenu {
	margin: 14px auto;
}
#cssmenu > ul > li {
	float: left;
}
#cssmenu.align-center > ul {
	font-size: 0;
	text-align: center;
}
#cssmenu.align-center > ul > li {
	display: inline-block;
	float: none;
}
#cssmenu.align-center ul ul {
	text-align: left;
}
#cssmenu.align-right > ul > li {
	float: right;
}
#cssmenu > ul > li > a {
	padding: 16px 13px;
	text-decoration: none;
	color: #0B3F64;
	border-bottom: 0px solid #f4f4f4;
	font-size: 15px;
}
#cssmenu > ul > li:hover > a {
	color:#076EF9;
	background: #f4f4f4;
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
	position: absolute;
	top: 23px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #333;
	content: '';
}
#cssmenu > ul > li.has-sub > a:before {
	position: absolute;
	top: 20px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #333;
	content: '';
 -webkit-transition: all .25s ease;
 -moz-transition: all .25s ease;
 -ms-transition: all .25s ease;
 -o-transition: all .25s ease;
 transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
	top: 23px;
	height: 0;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}
#cssmenu.align-right ul ul {
	text-align: right;
}
#cssmenu ul ul li {
	height: 0;
 -webkit-transition: all .25s ease;
 -moz-transition: all .25s ease;
 -ms-transition: all .25s ease;
 -o-transition: all .25s ease;
 transition: all .25s ease;
}
#cssmenu li:hover > ul {
	left: auto;
	z-index: 9;
}
#cssmenu.align-right li:hover > ul {
	left: auto;
	right: 0;
}
#cssmenu li:hover > ul > li {
	height: auto;
}
#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}
#cssmenu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}
#cssmenu ul ul li a {
	border-bottom: 1px solid rgba(150, 150, 150, 0.15);
	padding: 11px 15px;
	width: 170px;
	font-size: 12px;
	text-decoration: none;
	color: #dddddd;
	font-weight: 400;
	background: #015e93;
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
	border-bottom: 0;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	color: #fff;
}
#cssmenu ul ul li.has-sub > a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #dddddd;
	content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
	right: auto;
	left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #dddddd;
	content: '';
 -webkit-transition: all .25s ease;
 -moz-transition: all .25s ease;
 -ms-transition: all .25s ease;
 -o-transition: all .25s ease;
 transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
	right: auto;
	left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
	top: 17px;
	height: 0;
}
#cssmenu ul li a .fa {
	/*color:#0B3F64;*/
	padding-right: 7px;
}


/*.cmnu {float:right;}*/
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
 #cssmenu {
 width: 100%;
}
 #cssmenu ul {
 width: 100%;
 display: none;
}
 #cssmenu.align-center > ul {
 text-align: left;
}
 #cssmenu ul li {
 width: 100%;
 border-top: 1px solid rgba(120, 120, 120, 0.14);
 border-right: none;
 padding: 4px 0;
}
 #cssmenu ul ul li,  #cssmenu li:hover > ul > li {
 height: auto;
}
 #cssmenu ul li a,  #cssmenu ul ul li a {
 width: 100%;
 border-bottom: 0;
 padding: 9px 13px;
}
 #cssmenu > ul > li {
 float: none;
}
 #cssmenu ul ul li a {
 padding-left: 25px;
}
 #cssmenu ul ul ul li a {
 padding-left: 35px;
}
 #cssmenu ul ul li a {
 color: #333;
 background: none;
}
 #cssmenu ul ul li:hover > a,  #cssmenu ul ul li.active > a {
 color: #ffffff;
}
 #cssmenu ul ul,  #cssmenu ul ul ul,  #cssmenu.align-right ul ul {
 position: relative;
 left: 0;
 width: 100%;
 margin: 0;
 text-align: left;
}
 #cssmenu > ul > li.has-sub > a:after,  #cssmenu > ul > li.has-sub > a:before,  #cssmenu ul ul > li.has-sub > a:after,  #cssmenu ul ul > li.has-sub > a:before {
 display: none;
}
 #cssmenu #menu-button {
 display: block;
 padding: 17px;
 color: #333;
 cursor: pointer;
 font-size: 14px;
 text-transform: uppercase;
 font-weight: 700;
}
 #cssmenu #menu-button:after {
 position: absolute;
 top: 22px;
 right: 17px;
 display: block;
 height: 8px;
 width: 20px;
 border-top: 2px solid #333;
 border-bottom: 2px solid #333;
 content: '';
}
 #cssmenu #menu-button:before {
 position: absolute;
 top: 16px;
 right: 17px;
 display: block;
 height: 2px;
 width: 20px;
 background: #333;
 content: '';
}
 #cssmenu #menu-button.menu-opened:after {
 top: 23px;
 border: 0;
 height: 2px;
 width: 15px;
 background: #333;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}
 #cssmenu #menu-button.menu-opened:before {
 top: 23px;
 background: #333;
 width: 15px;
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 #cssmenu .submenu-button {
 position: absolute;
 z-index: 99;
 right: 0;
 top: 0;
 display: block;
 border-left: 1px solid rgba(120, 120, 120, 0.2);
 height: 46px;
 width: 46px;
 cursor: pointer;
}
 #cssmenu .submenu-button.submenu-opened {
 background: #262626;
}
 #cssmenu ul ul .submenu-button {
 height: 34px;
 width: 34px;
}
 #cssmenu .submenu-button:after {
 position: absolute;
 top: 22px;
 right: 19px;
 width: 8px;
 height: 2px;
 display: block;
 background: #dddddd;
 content: '';
}
 #cssmenu ul ul .submenu-button:after {
 top: 15px;
 right: 13px;
}
 #cssmenu .submenu-button.submenu-opened:after {
 background: #ffffff;
}
 #cssmenu .submenu-button:before {
 position: absolute;
 top: 19px;
 right: 22px;
 display: block;
 width: 2px;
 height: 8px;
 background: #dddddd;
 content: '';
}
 #cssmenu ul ul .submenu-button:before {
 top: 12px;
 right: 16px;
}
 #cssmenu .submenu-button.submenu-opened:before {
 display: none;
}
}









.jquery-accordion-menu, .jquery-accordion-menu * {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	outline:0;
	
}
.jquery-accordion-menu {
	width:100%;
	float:left;
	position:relative;
	display: block;
  clear: both;
  

}
.jquery-accordion-menu .jquery-accordion-menu-footer, .jquery-accordion-menu .jquery-accordion-menu-header {
    width: 100%;
    height: 56px;
    padding-left: 22px;
    float: left;
    line-height: 50px;
    font-weight: 600;
    color: #f0f0f0;
    border-bottom: 1px solid #26BAFA;
	overflow: hidden;
}
.jquery-accordion-menu ul {
	margin:0;
	padding:0;
	list-style:none
}
.jquery-accordion-menu ul li {
	width:100%;
	display:block;
	float:left;
	position:relative;
	
}
.submenu-sub::before {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 22px;
    font-size: 24px;
    bottom: 7px;
    top: 7px;
	z-index: 1;
}
.jquery-accordion-menu ul li ul li::before {
    content: '';
}
.jquery-accordion-menu ul li ul li a {
	color:#ccc;
	}
.jquery-accordion-menu ul li a {
	width:100%;
	padding:14px 22px 14px 45px;
	float:left;
	text-decoration:none;
	color:#fff;
	font-size:16px;
	/*background:#414956;
	white-space:nowrap;*/
	position:relative;
	overflow:hidden ;
-o-transition:color .2s linear, background .2s linear;
-moz-transition:color .2s linear, background .2s linear;
-webkit-transition:color .2s linear, background .2s linear;
transition:color .2s linear, background .2s linear
}
.jquery-accordion-menu>ul>li.active>a, .jquery-accordion-menu>ul>li:hover>a {
	color:#fff;
	background:#26bafa;
}
.jquery-accordion-menu>ul>li>a {
	border-bottom:solid 1px #26BAFA
}
.jquery-accordion-menu ul li a i {
	width:34px;
	float:left;
	line-height:18px;
	font-size:16px;
	text-align:left
}
.jquery-accordion-menu .submenu-indicator {
	float:right;
	right:22px;
	position:absolute;
	line-height:19px;
	font-size:20px;
-o-transition:transform .3s linear;
-moz-transition:transform .3s linear;
-webkit-transition:transform .3s linear;
-ms-transition:transform .3s linear
}
.jquery-accordion-menu ul ul.submenu .submenu-indicator {
	line-height:16px
}
.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}
.jquery-accordion-menu ul ul.submenu, .jquery-accordion-menu ul ul.submenu li ul.submenu {
	width:100%;
	display:none;
	position:static
}
.jquery-accordion-menu ul ul.submenu li {
	clear:both;
	width:100%
}
.jquery-accordion-menu ul ul.submenu li a {
	width:100%;
	float:left;
	font-size:16px;
	background:#28456c;
	border-top:none;
	position:relative;
	border-left:solid 6px transparent;
-o-transition:border .2s linear;
-moz-transition:border .2s linear;
-webkit-transition:border .2s linear;
transition:border .2s linear
}
.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color:#414956
}
.jquery-accordion-menu ul ul.submenu>li>a {
	padding-left:30px
}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a {
	padding-left:45px
}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
	padding-left:60px
}
.jquery-accordion-menu ul li .jquery-accordion-menu-label, .jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
	min-width:20px;
	padding:1px 2px 1px 1px;
	position:absolute;
	right:18px;
	top:14px;
	font-size:11px;
	font-weight:800;
	color:#555;
	text-align:center;
	line-height:18px;
	background:#f0f0f0;
	border-radius:100%
}
.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
	top:12px
}
.ink {
	display:block;
	position:absolute;
	background:rgba(255, 255, 255, .3);
	border-radius:100%;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0)
}
.animate-ink {
-webkit-animation:ripple .5s linear;
-moz-animation:ripple .5s linear;
-ms-animation:ripple .5s linear;
-o-animation:ripple .5s linear;
animation:ripple .5s linear
}
@-webkit-keyframes ripple {
100% {
opacity:0;
-webkit-transform:scale(2.5)
}
}
@-moz-keyframes ripple {
100% {
opacity:0;
-moz-transform:scale(2.5)
}
}
@-o-keyframes ripple {
100% {
opacity:0;
-o-transform:scale(2.5)
}
}
@keyframes ripple {
100% {
opacity:0;
transform:scale(2.5)
}
}
.blue.jquery-accordion-menu .jquery-accordion-menu-footer, .blue.jquery-accordion-menu .jquery-accordion-menu-header, .blue.jquery-accordion-menu ul li a {
	background:#4A89DC
}
.blue.jquery-accordion-menu>ul>li.active>a, .blue.jquery-accordion-menu>ul>li:hover>a {
	background:#3e82da
}
.blue.jquery-accordion-menu>ul>li>a {
	border-bottom-color:#3e82da
}
.blue.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color:#3e82da
}
.green.jquery-accordion-menu .jquery-accordion-menu-footer, .green.jquery-accordion-menu .jquery-accordion-menu-header, .green.jquery-accordion-menu ul li a {
	background:#03A678
}
.green.jquery-accordion-menu>ul>li.active>a, .green.jquery-accordion-menu>ul>li:hover>a {
	background:#049372
}
.green.jquery-accordion-menu>ul>li>a {
	border-bottom-color:#049372
}
.green.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color:#049372
}
.red.jquery-accordion-menu .jquery-accordion-menu-footer, .red.jquery-accordion-menu .jquery-accordion-menu-header, .red.jquery-accordion-menu ul li a {
	background:#ED5565
}
.red.jquery-accordion-menu>ul>li.active>a, .red.jquery-accordion-menu>ul>li:hover>a {
	background:#DA4453
}
.red.jquery-accordion-menu>ul>li>a {
	border-bottom-color:#DA4453
}
.red.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color:#DA4453
}
.white.jquery-accordion-menu .jquery-accordion-menu-footer, .white.jquery-accordion-menu .jquery-accordion-menu-header, .white.jquery-accordion-menu ul li a {
	background:#fff;
	color:#555
}
.white.jquery-accordion-menu>ul>li.active>a, .white.jquery-accordion-menu>ul>li:hover>a {
	background:#f0f0f0
}
.white.jquery-accordion-menu>ul>li>a {
	border-bottom-color:#f0f0f0
}
.white.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color:#f0f0f0
}
.white.jquery-accordion-menu ul ul.submenu li a {
	color:#f0f0f0
}
.white.jquery-accordion-menu>ul>li>a>.ink {
	background:rgba(0, 0, 0, .1)
}
.black.jquery-accordion-menu .jquery-accordion-menu-footer, .black.jquery-accordion-menu .jquery-accordion-menu-header, .black.jquery-accordion-menu ul li a {
	background:#292929
}
.black.jquery-accordion-menu>ul>li.active>a, .black.jquery-accordion-menu>ul>li:hover>a {
	background:#222
}
.black.jquery-accordion-menu>ul>li>a {
	border-bottom-color:#222
}
.black.jquery-accordion-menu ul ul.submenu li:hover>a {
	border-left-color:#222
}
/*.submenu-indicator:before {
	content: '\f107';
	font-family: FontAwesome;
	
	}*/
.submenu-indicator {
	display:none;
	}
.menu-iicon1 {
    position: absolute;
    left: 14px;
    top: 1px;
    bottom: 15px;
}
















.accordion_1 {
    width: 100%;
    max-width: 100%;
    margin: 47px auto 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px;
	padding: 0;
}

.accordion_1 .link {
    cursor: pointer;
    display: block;
    /*padding: 15px 21px 15px 55px;*/
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #26BAFA;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease
}
.accordion_1 .link3 a {
    cursor: pointer;
    display: block;
    padding: 15px 21px 15px 55px;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #26BAFA;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease
}
.mCSB_container {
	top:0 !important;
	
	}

.accordion_1 li:last-child .link {
    border-bottom: 0
}
.accordion_1 .link svg { 
	float:right;
	margin: -33px 23px -33px auto;
}
.accordion_1 li i {
    position: absolute;
    top: 16px;
    left: 8px;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease
}

.accordion_1 li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px
}

.accordion_1 li.open .link {
    color: #fff
}

.accordion_1 li.open i {
    color: #fff;
}

.accordion_1 li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.submenu_2 {
    display: none;
    background: #28456c;
    font-size: 14px;
}

.submenu_2 li {
    border-bottom: 1px solid #39639b;
	list-style: none;
}
.submenu_2 {padding:0;}
.submenu_2 a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 14px 19px 14px 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
	font-size: 15px;
	font-weight: normal !important;
}
.accordion_1 li {list-style:none;}

.submenu_2 a:hover {
    background: #1b4275 !important;
    color: #FFF
}